@page
@model IndexModel
@{
    ViewData["Title"] = "项目部署";
}
<link href="~/css/index.css" rel="stylesheet" />
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/index.js"></script>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo btn-home">项目部署</div>
            <ul class="layui-nav layui-layout-left" lay-filter="top-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;" page-link="quickproject/index" nav-page="quickproject" lay-id="quickproject">快速发布</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" page-link="flowproject/index" nav-page="flowproject" lay-id="flowproject">自动发布</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" page-link="service/index" nav-page="service" lay-id="service">服务器</a>
                </li>
                @*<li class="layui-nav-item">
                        <a href="javascript:;" page-link="demo/index" nav-page="demo" lay-id="demo">[演示]流水项目</a>
                    </li>*@
            </ul>
            @*<ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            <span id="info_real_name"></span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">基本资料</a></dd>
                            <dd><a href="javascript:;">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:;" id="login-out">退出</a></li>
                </ul>*@
        </div>
        <div class="layui-body" style="left:0;bottom:0;">
            <div class="layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="main-tab">
                <ul class="layui-tab-title">
                </ul>
                <div class="layui-tab-content">
                </div>
            </div>
        </div>
    </div>
</body>