################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/App/bin
/App/obj
/AutomaticDeployment/.vs
/AutomaticDeployment/bin
/AutomaticDeployment/obj
/DAO/bin
/DAO/obj
/Server/bin
/Server/obj
/AutomaticDeployment/workspace/upload
/Common/bin
/Common/obj
/Model/bin
/Model/obj
