<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/js/verify.js"></script>
    <script src="~/js/common.js"></script>
    <script>
        var layer;
        layui.use(['layer'], () => {
            layer = layui.layer;
        });
    </script>
</head>
@RenderBody()
</html>
