@page
@model AutomaticDeployment.Pages.QuickProjectModel
@{
    ViewData["Title"] = "快速发布";
}

<link href="/lib/steps/steps.css" rel="stylesheet" />
<link href="~/css/quickproject/index.css" rel="stylesheet" />
<script src="/lib/steps/steps.js"></script>
<script src="~/js/quickproject/index.js"></script>

<body style="padding:3px;">
    <div class="layui-card">
        <div class="layui-card-header">
            <div class="layui-btn-group">
                <button type="button" class="layui-btn" id="btn_open_addproject">添加项目</button>
            </div>
        </div>
        <div class="layui-card-body" id="project-body">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>项目信息</th>
                        <th>服务器</th>
                        <th>发布信息</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>${item['project']['project_name']}</p>
                        </td>
                        <td>
                            <p>IP：${item['server']['server_ip']}</p>
                            <p>账号：${item['server']['server_account']}</p>
                            <p>登录模式：${item['server']['server_connect_mode']}</p>
                        </td>
                        <td>
                            <p>发布路径：${item['publish']['publish_path']}</p>
                            <p>发布前命令：${item['publish']['publish_before_command']}</p>
                            <p>发布后命令：${item['publish']['publish_after_command']}</p>
                            <p>发布时间：${item['project']['publish_time']}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>