.layui-body > .layui-tab > .layui-tab-content > .layui-tab-item, .wrapper-tab-content {
    position: fixed;
    top: 111px;
    bottom: 0;
    left: 0;
    right: 0;
}

.layui-tab-title {
    z-index: 99999;
    background: #fff;
}

div.btn-home {
    cursor: pointer;
}
